<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhsj.community.yanglao_yiliao.myself.mapper.EventFamilyMapper">
    <insert id="saveAll">
        insert into t_event_family(id,event_id,family_id,uid,create_time) values
        <foreach collection="list" item="list" separator=",">
            (#{list.id},#{list.eventId},#{list.familyId},#{list.uid},#{list.createTime})
        </foreach>
    </insert>
</mapper>