<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhsj.community.yanglao_yiliao.old_activity.mapper.ActivityMapper">

    <select id="queryNearbyActivityList" parameterType="com.zhsj.community.yanglao_yiliao.old_activity.dto.ActivityReqBo"
            resultType="com.zhsj.community.yanglao_yiliao.old_activity.dto.ActivityDto">
        select t.*,fun_dist(#{longitude},#{latitude},t.longitude,t.latitude) as dist
        from t_activity t
        where fun_dist(#{longitude},#{latitude},t.longitude,t.latitude) &lt;#{dist}
          and deleted = 1
        order by dist
    </select>
    <select id="getActivityedge"
            resultType="com.zhsj.community.yanglao_yiliao.old_activity.dto.ActivityListDto">
        select * from t_activity  as a
                LEFT JOIN t_activity_details as ac
                on a.id =ac.a_id
                WHERE a.user_uuid = #{useruuid}
    </select>
</mapper>