<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhsj.community.yanglao_yiliao.old_activity.mapper.ActivityMapper">

    <select id="queryNearbyActivityList" parameterType="com.zhsj.community.yanglao_yiliao.old_activity.jo.ActivityReqBo"
            resultType="com.zhsj.community.yanglao_yiliao.old_activity.controller.From.ActivityDto">
        select t.*,fun_dist(#{longitude},#{latitude},t.longitude,t.latitude) as dist
        from t_activity t
        where fun_dist(#{longitude},#{latitude},t.longitude,t.latitude) &lt;#{dist}
          and deleted = 1
        order by dist
    </select>
</mapper>